.auth_wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px auto;
    border-radius: 16px;
    overflow: hidden; 
    background: #fff;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.banner_container {
    background-size: cover;
    background-position: center;
    filter: brightness(0.9);
}

.form_container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .auth_wrapper {
    grid-template-columns: 1fr;
    max-width: 100%;
    margin: 20px;
    border-radius: 12px; 
  }

  .banner_container {
    display: none;
  }

  .form_container {
    padding: 30px;
    width: 100%;
  }
}

